{% extends 'base.html.twig' %}

{% block title %}CGU KemShop{% endblock %}

{% block body %}

{{ include('partials/title_section.html.twig', {'name': 'Conditions générales d\'utilisation du site KemShop'})}}


<div class="container">
    <h1 class="text-center">Conditions générales d'utilisation du site KemShop</h1>

    <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore consequuntur quod nisi incidunt magnam perferendis laborum rerum quis suscipit. Odit, eaque dicta vel laudantium velit corrupti ratione hic officiis itaque.
        Fuga alias animi molestiae necessitatibus accusamus aperiam deserunt culpa at, excepturi quasi autem blanditiis vitae repellendus debitis assumenda beatae voluptatem illo nam nemo. Minima, neque dolorum ea quis consequuntur ratione?
        Saepe, doloremque dolore asperiores illum iste quasi minima at repellendus corrupti excepturi tenetur voluptas nam quam nobis id in exercitationem nemo ipsam laborum possimus dicta adipisci! Consectetur aspernatur amet nam!
        Tempora magni hic quasi deserunt et corporis dolor molestiae aut a vero accusamus unde doloribus sit, minima magnam exercitationem sint neque accusantium animi cupiditate sequi sapiente! Ad eaque nemo numquam?
        Repudiandae eligendi necessitatibus quis aliquam, deserunt illo aliquid sequi, architecto quas rerum veritatis, eveniet explicabo odit ipsam doloribus. Quaerat voluptas suscipit at maxime dolore eveniet inventore blanditiis rerum, harum illo.
        Inventore, necessitatibus facere a, aut qui laboriosam soluta deleniti doloremque eveniet suscipit accusamus dolorem odio libero similique veniam obcaecati assumenda cupiditate nisi, temporibus voluptas ducimus aliquam culpa veritatis! Corporis, doloremque?
        Sint cupiditate, omnis molestias illum facilis facere ullam. Quia velit quibusdam maiores nesciunt dolores neque incidunt, est eos. Voluptatibus ratione repellat architecto labore amet nam obcaecati, neque ipsam fugiat velit?
        Consectetur voluptate assumenda illo ipsa dolore voluptates odit iste similique natus, aperiam optio! Facilis voluptatum modi officiis non rerum harum ducimus maxime iusto fugiat vitae est eius, necessitatibus delectus tempora!
        Asperiores, ullam odit numquam eveniet incidunt tenetur unde ut illo ipsam quidem perferendis nemo ipsa aperiam! Odit molestiae magni unde modi, tempore repudiandae possimus dolor, ab, vitae ullam eum quidem?
        Quisquam ipsum sapiente error tempore doloremque. Alias amet error odio, reprehenderit ratione quod, adipisci pariatur, atque autem possimus ipsam! Atque debitis soluta inventore facere reiciendis consequatur commodi ipsam fuga quam!
        Saepe molestias eos repellat, ex quasi hic atque obcaecati qui pariatur. Fuga minus exercitationem veniam quis repellat. Commodi nam, ea fugit totam earum magnam vero adipisci obcaecati voluptatibus quis. Libero.
        Iure nisi eaque reprehenderit corporis! Non hic nam adipisci esse amet voluptates? Dignissimos cumque eaque omnis voluptas quo cupiditate odit? Aspernatur facilis, doloremque sed commodi eos distinctio vitae libero nobis!
        Nulla mollitia voluptatum, autem, architecto accusantium veniam vero accusamus eius delectus officiis deleniti itaque! Debitis, ipsam voluptate est neque ullam quia quidem, doloribus quos eum sit sed nihil impedit architecto.
        Ad tempora velit iusto laudantium iure tempore minus, illo, nesciunt minima aspernatur eius ducimus? Id facilis consequatur ducimus nemo earum pariatur quod voluptates tempora sit illo illum, aliquam, nulla nostrum!
        Ea ratione harum laboriosam praesentium adipisci architecto dolorum recusandae fuga asperiores rem repellendus omnis porro ipsa perferendis error commodi ut voluptatibus, provident quibusdam quasi eum deleniti labore, mollitia nostrum! Asperiores?
        Maiores at exercitationem quo voluptatem deleniti, quos a dolor dolore. Vitae, reiciendis. Totam earum ipsam adipisci voluptatem illum ipsum est molestiae voluptatum placeat, ipsa doloribus tempore, corporis nihil fuga saepe?
        Fugiat pariatur, odio repudiandae dignissimos, deleniti qui necessitatibus architecto numquam quas quasi a! Non tempore magnam, doloremque asperiores autem accusantium, enim ipsam dignissimos ratione eos iste quasi cupiditate, unde atque.
        Nihil corrupti est voluptatum. Soluta, obcaecati? Quia distinctio maiores quod hic quidem rem, suscipit pariatur nulla. Laboriosam accusantium, illum similique perspiciatis, saepe optio accusamus laborum vel pariatur illo id unde.
        Debitis nisi adipisci cum eligendi a, pariatur inventore. Velit dolore nulla odio quae neque sint? Ipsum assumenda aperiam voluptatum magni aut perspiciatis quasi dignissimos iusto libero dolor! Illo, laborum quisquam!
        Aliquam ipsa exercitationem, qui et vel rem amet harum reiciendis, error quae, aspernatur voluptas cumque consequatur omnis necessitatibus rerum? Minima repellendus dolore facilis distinctio nulla, voluptate dolorem deserunt error blanditiis?
    </p>
</div>
{% endblock %}
